*{
    margin: 0px;
    padding: 0px;
    font-family: "Red Hat Text", sans-serif !important;
    width: fit-content;
}
:root{
    --primary-color:#C83B0E;
    --text-heading-color:#2D2522;
    --body-text-color:#8B7D7B;
    --background-color:#FCF8F5
}
@font-face {
    font-family: 'Red Hat Text';
    src: url(assets/fonts/static/RedHatText-Regular.ttf) format(truetype);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url(assets/fonts/static/RedHatText-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: semi-bold;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url(assets/fonts/static/RedHatText-Bold.ttf) format(truetype);
    font-weight: 700;
    font-style: semi-bold;
}

body{
    font-family: "Red Hat Text", sans-serif !important;
    display: flex;
    width: 98vw;
    padding-top:5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--background-color) ;
}

h2{
    font-size: 14px;
    color: var(--text-heading-color);
}

p{
    font-size: 14px;
    color: var(--body-text-color);
}

section{
    width: auto;
}
button:hover{
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: auto;
    gap: 3rem;

}

.desertDiv{
    width: max-content;
}

.desertProduct{
    padding: 1rem;
    display: grid;
    grid-template-columns:auto;
    gap: 1rem;
    
}

.cartDivDescription{
    box-sizing: border-box;
    background-color: white;
    padding: 2rem;
    min-height: 40vh;
    width:100%;
    border-radius:1rem
}

.Alldiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    min-height: 24vh;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.svgDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 24vh;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.total{
    font-weight: 600;
    color: black;
}

.orderSum{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 0rem;
}

.carbon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--background-color);
    border-radius: 1rem;
}
.cartDiv{
    width: 100%;
    
}


#desert{
    padding: 1rem;
    
}

.img_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
   
}

.desertImageDiv{
    overflow: hidden;
    border-radius: 0.75rem;
    max-height: 60vw;
    max-width: 60vw;
}
.desertImg{
    object-fit: contain;
    border-radius: 0.75rem;
    max-height: 15rem;
}

.dessertButton{
    border: 1px solid var(--primary-color);
    background-color: white;
    width: fit-content;
    display:flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 10rem;
    padding:8px;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 14px;
}

.buttonDiv{
    position: relative;
    bottom:1rem;
    /* left:50%;
    right: 50%; */
    width: fit-content;
    /* transform: translate(-50%, -50%) */
}

.productPrice{
    font-weight: 700;
    color:var(--primary-color)
}

.productDescription{
    display: flex;
    flex-direction: column;
}

.cartText{
    color: #C83B0E;
    font-weight: bold;
    font-size: 1.5rem;
}

.iconDiv{
    color: white;
    height: 18px;
    width: 18px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border:1px solid white;
    background-color: var(--primary-color);
    
}

.cartProductDiv{
    display: flex;
    gap:8px
}

.productSelected{
    display: grid;
    grid-template-columns: auto 24px;
    width: 100%;
    gap: 24px;
    align-items: center;
    padding: 1rem 1rem 1rem 0rem;
    border-bottom: 1px solid #e0e0e0;
}
.Cdiv{
    width: 100%;
}
.divProduct{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.CproductType{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.iconDiv:hover{
    background-color:white ;
    color: var(--primary-color) !important;
}

.iconPlus:hover{
    background-color:white ;
    color: var(--primary-color) !important;
}

.iconMinus:hover{
    background-color:white ;
    color: var(--primary-color) !important;
}

.CcartProductDiv{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.CproductNumber{
    color: var(--primary-color);
    font-weight:600 ;
}

.CproductPrice{
    color: var(--body-text-color);
    font-weight:600 ;

}

.CproductPriceMultiply{
    color: var(--primary-color);
    font-weight:600 ;

}

.removeButton{
    padding: 0px;
    background-color: transparent;
    border: none;
    width: fit-content;
}

.productNumbers{
    color: white;
}

.totalPrice{
    font-size: 24px;
    color: black;
    font-weight: 700;
}

#confirmOrder{
padding: 0.75rem;
border-radius: 4rem;
border: none;
width: 100%;
background-color: var(--primary-color);
color: white;
}

.orderConfirmed{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.75rem 0.75rem 0rem 0.75rem;
    box-sizing: border-box;
    background-color: var(--background-color);
    
}

.orderSubmitDiv{
    background-color: white;
    padding: 2rem 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
    border-radius: 1rem;
   
}

.imageDiv{
    height: 48px;
    width: 48px;
    border-radius: 0.25rem;
}

.productImage{
   height: 48px;
   width: auto;
   border-radius: 0.25rem;
}

.selectedProduct{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.productInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.orderDivParent{
    min-width: 94vw;
    min-height: 90vh;
}
.orderDiv{
    width: 100%;
    background-color: var(--background-color);
    padding: 0.75rem;
    box-sizing: border-box;
    border-bottom: 0.5px solid #f1f1f1;

}
.selectedProduct{
    width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.25rem;
    width: 100%;
    align-items: center;
}

.productQty{
    display: flex;
    gap: 0.75rem;
}

.productCateogry2{
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.totalPriceCart2{
    font-size: 15px;
    font-weight: 700;
    color: black;
    
    
}

.totalPriceCart{
    font-size: 22px;
    font-weight: 700;
    color: black;
    
    
}

.productNumber{
    color: var(--primary-color);

}

.totalPriceCart1{
    font-weight: 600;
    color: var(--body-text-color);
    
}

.orderSumCart{
    background-color: var(--background-color);
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#newOrder{
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 1rem;
    border:0px;
    border-radius: 2rem;
}

.orderBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.absoluteDiv{
    background-color:rgba(0,0,0,0.25);
    z-index: 1000;
    width: 99vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

}

.relative{
    position: relative;
    height: 90vh;
    overflow: hidden;

    
}

.absoluteDiv{
    align-items: end;
  
}

.btn{
    display: flex;
    border: 1px solid white;
    background-color: #C83B0E;
    border: 1px solid var(--primary-color);
    width: fit-content;
    display:flex;
    gap: 0.25rem;
    padding: 0rem 0.75rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    width: 10rem;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 14px;
}

.hide{
    display: none
}

.sectionHeight{
    height: 90vh;
    overflow: hidden;
}

@media screen and (min-width: 320px) {
    .container{
        grid-template-columns: auto;
    }

    .desertProduct{
        grid-template-columns: auto;
        gap: 2rem;
    }

    .desertImageDiv{
        overflow: hidden;
        border-radius: 0.75rem;
        max-height: 90vw;
        max-width: 90vw;
    }
}


@media screen and (min-width: 574px) {

    .orderDivParent{
        min-width: 54vw;
    }
    .container{
        grid-template-columns: auto;
    }

    .desertProduct{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    .desertImageDiv{
        overflow: hidden;
        border-radius: 0.75rem;
        max-height: 60vw;
        max-width: 60vw;
    }
    h2{
        font-size: 16px;
        color: var(--text-heading-color);
    }
}


@media screen and (min-width: 1100px) {

    .orderDivParent{
        min-width: 24vw;
    }
    .container{
        grid-template-columns: auto 30vw;
        gap: 1rem;
    }

    .desertProduct{
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }

    .desertImageDiv{
        overflow: hidden;
        border-radius: 0.75rem;
        max-height: 20vw;
        max-width: 20vw;
    }
    .absoluteDiv{
        align-items: center;
    }
    .orderDivParent{
        min-height: 50vh;
    }
}